* {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.5;
}

address {
	font-style: normal;
}

section, header, footer {
	padding: 2.5rem 10vw;
}

footer {
	display: flex;
}

// 嵌套的列表没有间距分布，需要手动指定
li {
	margin: 1em 0;
}
