* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

address {
	font-style: normal;
}

section, header, footer {
	padding: 2.5rem 10vw;

	&:nth-child(even) {
		background: #fafafa;
	}
}

footer {
	display: flex;
}
