@media screen and (max-width: 768px) {

	section, header, footer {
		padding: 32px 16px;
	}

	ul, ol {
		padding-left: 1em;
	}

	.screenshot {
		margin: 1em 0;
	}

	#university {
		display: none;
	}
}