@import "mixins";

@include mobile-layout {

	section, header, footer {
		padding: 2.5rem 12px;
	}

	ul, ol {
		padding-left: 1em;
	}

	footer {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
}
