{
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true,
		"es2021": true
	},
	"plugins": [
		"react",
		"react-hooks"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "double", { "avoidEscape": true }],
		"comma-dangle": ["error", "always-multiline"],
		"react/prop-types": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	}
}
