@import "css/mixins";

.container {
	composes: content from global;

	display: flex;
	justify-content: center;
	position: relative;
}

.indicator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: white;
}

.failed {
	composes: indicator;
	color: red;
}

.spinner {
	--size: 80px;
	margin-bottom: 1em;
	color: deeppink;
}

.nameGroup {
	display: flex;
	align-items: baseline;

	@include mobile-layout {
		align-items: center;
		flex-direction: column;
	}
}

.name {
	font-size: 2rem;
	margin: 0 1rem 1rem 0;
}

.title {
	font-size: 1rem;
	font-weight: normal;
}

.addrGroup {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: 5px;

	margin-top: 1em;

	& > dt {
		&::after {
			content: "："
		}
		grid-column: 1;
		justify-self: end;
	}

	& > dd {
		margin-left: 0;
		grid-column: 2;
	}
}

.degree > span {
	margin-right: .5em;
}

.university {
	margin-left: auto;
	width: 150px;
	height: 150px;

	@include mobile-layout {
		display: none;
	}
}
