@import "../css/mixins";

.card {
	display: block;
	padding: 20px;

	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	background: white;
	border-radius: 8px;

	text-decoration: none;
	color: inherit;

	transition: .3s;
	transition-property: transform, box-shadow;

	&:hover, &:focus-visible {
		transform: translateY(-4px);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	}

	@include mobile-layout {
		font-size: 0.875rem;
	}
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	@include mobile-layout {
		margin-bottom: 0.5rem;
	}
}

.name {
	margin: 0;
	line-height: 1;
	word-wrap: anywhere;
}

.icon {
	flex-shrink: 0;
	margin-left: auto;
	font-size: 36px;

	/* 为了兼容性不能用 flex + gap */
	padding-left: 5px;
	box-sizing: content-box;
}
