@import "css/mixins";

.container {
	composes: content from global;

	display: flex;
	justify-content: center;
}

.nameGroup {
	display: flex;
	align-items: baseline;
}

.name {
	font-size: 2rem;
	margin: 0 1rem 1rem 0;
}

.title {
	font-size: 1rem;
	font-weight: normal;
}

.addrGroup {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: 5px;

	margin-top: 1em;

	& > span {
		&::after {
			content: "："
		}

		grid-column: 1;
		justify-self: end;
	}

	& > address {
		grid-column: 2;
	}
}

.degree > span {
	margin-right: 1em;
}

.university {
	margin-left: auto;
	width: 150px;
	height: 150px;

	@include mobile-layout {
		display: none;
	}
}
