@import "../css/mixins.scss";

.sideTOC {
	position: fixed;
	top: 20%;
	right: 20px;
	width: 180px;
	z-index: 200;

	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 1rem;
	font-size: 0.875rem;

	border-left: solid 1px rgba(123, 123, 135, 0.3);

	@include tablet-layout {
		display: none;
	}
}

.sideTOC > a {
	color: #667;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	&.active {
		color: blue;
	}
}

.H2 {
	margin-left: 20px;
}
