@import "../css/mixins";

/* 子元素有 flex: 1 无需 space-evenly 也能充满一行 */
.container {
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	margin: -4px; /* 抵消内部元素的边距 */
	padding: 0;

	font-family: system-ui, -apple-system, sans-serif;

	/*
	 * 通过伪元素抢占末尾空间实现最后一行不铺满。
	 * https://stackoverflow.com/a/30307820/7065321
	 */
	&::after {
		content: "";
		flex-grow: 10000;
	}

	@include mobile-layout {
		font-size: .875em;
	}
}

.label {
	margin: 4px;
	padding: .3em .5em;
	flex: 1;

	color: white;
	white-space: nowrap;
	text-align: center;
	border-radius: 4px;
}

/* 这个亮色的真难调 */
.frontend {
	color: black;
	background: #f2ea00;
}

.backend {
	background: #058a00;
}

.operation {
	background: #0053c7;
}

.lang {
	background: #d40b15;
}
