@import "../css/mixins";

// 子元素有 flex: 1 无需 space-evenly 也能充满一行
.container {
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	margin: 0;
	padding: 0;

	font-family: system-ui, -apple-system, sans-serif;

	// 通过伪元素抢占末尾空间实现最后一行不铺满
	// https://stackoverflow.com/a/30307820/7065321
	&::after {
		content: "";
		flex-grow: 10000;
	}

	@include mobile-layout {
		font-size: .875em;
	}
}

.label {
	// Safari 14.1 之前不支持 flex-gap
	margin: .25em;
	padding: .4em .6em;
	flex: 1;

	white-space: nowrap;
	text-align: center;
	border-radius: 4px;
}

// 这个亮色的真难调
.frontend {
	background: #f7f700;
}

.backend {
	color: white;
	background: #058a00;
}

.operation {
	color: white;
	background: #0067c1;
}

.lang {
	color: white;
	background: #d40000;
}
