@import "../css/mixins";

.header {
	--primary-font: 2.5rem;
	--mnior-font: 1.75rem;

	text-align: center;
	margin-bottom: 2rem;

	& > h1 {
		margin: 0;
		font-size: var(--primary-font);
		font-weight: normal;
	}

	& > div {
		margin: 1rem 0 0 0;
		font-size: var(--mnior-font);
		font-weight: normal;
		color: #667;
	}

	@include mobile-layout {
		--primary-font: 2rem;
		--mnior-font: 1.25rem;
	}
}

.skills {
	background: rgba(128, 128, 128, 0.05);
}
