@import "css/mixins";

.custom {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;

	// for mobile
	justify-content: center;
}

.logo {
	composes: hide-mobile from global;
	width: 130px;
	justify-self: end;
}

.buttonIcon {
	font-size: 27px;
	margin-right: 4px;
}

.proficiency {
	composes: content from global;
	padding-top: 0;

	@include mobile-layout {
		font-size: 12px;
	}

	@include pc-layout {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		column-gap: 40px;
	}
}

// 跟 ProjectIntro 里的重复了
.markdown {
	@include pc-layout {
		padding: 0 2rem;
	}
}

.h1 {
	display: block;
	text-align: center;
	font-size: 2rem;

	@include mobile-layout {
		font-size: 1.5rem;
	}
}

.cards {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
