@import "css/mixins";

.custom {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;

	// for mobile
	justify-content: center;
}

.logo {
	composes: hide-mobile from global;
	justify-self: end;
}

.buttonIcon {
	font-size: 27px;
	margin-right: 4px;
}

// 跟 ProjectIntro 里的重复了
.markdown {
	@include pc-layout {
		padding: 0 2rem;
	}
}

.h1 {
	display: block;
	text-align: center;
	font-size: 2rem;
}

.cards {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
