@import "css/mixins";

.custom {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;

	// for mobile
	justify-content: center;
}

.logo {
	composes: hide-mobile from global;
	justify-self: end;
}

.buttonIcon {
	font-size: 27px;
	margin-right: 4px;
}
