@import "css/mixins";

.project:not(:first-of-type) {
	margin-top: 2rem;
	border-top: solid 1px #ccc;
}

.projectHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 2rem 0 1rem 0;

	@include mobile-layout {
		flex-direction: column;
		margin-bottom: 1em;
	}
}

.name {
	font-size: 1.5rem;
	margin: 0;

	@include mobile-layout {
		margin-bottom: 1rem;
	}
}

.delimiter {
	user-select: none;
	margin: 0 .25em;
}

.banner {
	max-width: 100%;
	margin: 1.5rem 0;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .5);

	@include mobile-layout {
		display: block; // 使下间距重叠
	}
}

.markdown {
	@include pc-layout {
		padding: 0 2rem;
	}
}
