@import "../../css/mixins";

.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.screenshot {
	max-width: 100%;
	margin: 50px 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .5);

	@include mobile-layout {
		margin: 1em 0;
	}
}
