@import "css/mixins";

.header {
	display: flex;
	padding: 100px 100px 180px;
	background: #d48d00;
	background-size: cover;
	color: white;
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.sub {
	font-size: 1rem;
	font-weight: normal;
}

.info {
	margin-left: 24px;
}

.cardList {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	transform: translateY(-96px);
}

.card {
	margin: 20px;
	width: 470px;
	height: 470px;

	border-radius: 20px;
	box-shadow: 0 13px 30px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 42px;
	color: white;
	text-decoration: none;
}
